[run]
# source = pathos
include =
    */pathos/*
    */pathos/helpers/*
    */pathos/secure/*
    */pathos/xmlrpc/*
omit = 
    */tests/*
    */info.py
branch = true
# timid = true
# parallel = true # and need to 'combine' data files
# concurrency = multiprocessing # thread
# data_file = $TRAVIS_BUILD_DIR/.coverage
# debug = trace

[paths]
source =
    pathos
    pathos/helpers
    pathos/secure
    pathos/xmlrpc
    */site-packages/pathos
    */site-packages/pathos/helpers
    */site-packages/pathos/secure
    */site-packages/pathos/xmlrpc
    */site-packages/pathos-*/pathos
    */site-packages/pathos-*/pathos/helpers
    */site-packages/pathos-*/pathos/secure
    */site-packages/pathos-*/pathos/xmlrpc

[report]
include =
    */pathos/*
    */pathos/helpers/*
    */pathos/secure/*
    */pathos/xmlrpc/*
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
# show_missing = true
ignore_errors = true
# pragma: no branch
# noqa
